@charset "UTF-8";

body {
	background: rgb(241, 255, 254);
	display: flex;
}

.block {
	font-size: 5px;
}

#wrap {
	width: 1000px; 
	margin: 0 auto; 
	color: #fff; 
	background: #c8ffff;  
	text-align: center; 
	}

#forecast {
	float: left; 
	width: 125px; 
	height: 50px; 
	line-height: 50px; 
	background-color: rgb(139, 208, 241); 
	border-radius: 20px;
	text-decoration: none;
}

#ppusan {	
	float: left; 
	width: 125px; 
	height: 50px; 
	line-height: 50px; 
	border-radius: 20px;
	text-decoration: none;
	background-image: url("/image/ppusan3.png");
	background-size: 85px;
	background-position: center;
	background-repeat: no-repeat;
	background: cover;
}
	
#header {
    float: left; 
    width: 750px; 
    height: 40px; 
    line-height: 30px;
    padding: 10px 0 0 0; 
    background-color: rgb(182, 171, 155); 
    border-radius: 20px;
    }

#login {
    float: left; 
    width: 125px; 
    height: 50px; 
    line-height: 50px; 
    background-color: rgb(146, 255, 227); 
    border-radius: 20px;
    text-decoration: none;
    }
#mypage {
    float: left; 
    width: 125px; 
    height: 50px; 
    line-height: 50px; 
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    }
    
#content {
    float: left; 
    width: 1000px; 
    height: 1000px; 
	background: #c8ffff; 
    }    

button {
	border-radius: 20px;
	background-color: aqua;
	color: white;
	text-align: center;
	width: 130px;
	height: 30px;
	border: 0;
	font-style: italic;
	border-radius: 20px;
	cursor: pointer;
}
button:focus {
	background-color: #ED9C3B;
	font-weight: bold;
	text-transform: capitalize;
}

#spotlight {
	color: rgb(0, 128, 255);
	text-shadow: -3px -3px 5px white;
	font-size: 30px;
	font-weight:bold;
	font-family: inherit;
	text-align: left;
	margin: 20px 20px 20px 20px;
	
}
#like {
	background-color: rgb(184, 215, 247);
	height: 350px;
	padding-top:1px;
	
}

.box {
	width:200px;
	height:200px;
	display: inline-block;
	margin: 15px;
	border-style: dashed;
	border-width: 2px;
	border-color: black;
}

#leftbtn, #rightbtn {
	cursor: pointer;
}

#suggest {
    background: #c8ffff;
	height: 500px;
	background-image: url("/image/gwangandaegyo.jpg");
	background-size: cover;
}

.suggestBox {
	float: right;
	text-align: left;
	width:200px;
	height:200px;
	margin: 110px;
	padding: 30px;
	border: 2px solid black;
	background-color: rgb(14, 69, 122);
}

section, footer, article {
	display: block;
}

footer {
	padding: 10px 0;
	background-color: rgb(14, 69, 122);
	color:#fff;
	text-align:center;
	clear: both;
}

.dropmenu{
margin:0px;
padding:0px;
font: "sans-serif";
font-size:18px;
}

.dropmenu ul{
background: rgb(182, 171, 155);
height:30px;
text-align: center;
list-style:none;
margin: 0;
padding: 0;
border-radius: 20px;
}

.dropmenu li{
display:inline-block;
height: 30px;
margin:0;
padding:0;
}

.dropmenu li a{
color:#fff;
display:inline-block;
margin:0px 0px 30px;
padding:0px 25px 10px;
text-align:center;
border-radius: 20px;
}

.dropmenu li a:hover{
text-decoration: underline;
font-weight: bolder;
}

.dropmenu ul li:hover a{
text-decoration:none;
font-weight: bolder;
}

.dropmenu li ul{
background: rgb(139, 208, 241); 
display:none; 
height:2em;
border:0px;
position:absolute;
width:755px;
z-index:100;
top:70px;
left:0;
margin-left: 350px;
}

.dropmenu li:hover ul{
display:inline-block;

}

.dropmenu li li {
display:inline-block;
width: 120px;
}

.dropmenu li:hover li a{
display:inline-block;

}

.dropmenu li ul a{
display:inline-block;
height:30px;
font-size:14px;
margin:0px;
text-align:left;
}

.dropmenu li ul a:hover, .dropmenu li ul li:hover a{
text-decoration:none;
display:inline-block;
color:#FC0;	
font-weight: bolder;
}

.dropmenu p{
clear:left;
}

    
