<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PPUSAN</title>
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">  
	$(function() {
		$("#header").load("/html/subheader.html");
		$("#footer").load("/html/footer.html");
	});
</script> 
</head>
<body>
  <div id="wrap">
  	<div id="header"></div>
    <div id="content">
		<section>
			<ul id="mypageMenu">
				<li><p>MyPage</p></li>
		   	 	<li><a href="/mypage/update">개인정보</a></li>
			  	<li><a href="/mypage/like">좋아요한 목록</a></li>
			  	<li><p>나의 뿌산 플랜</p></li>
			  	<li><a href="/mypage/planner">- 플랜 작성</a></li>
			  	<li><a href="/mypage/plannerDetail">- 플랜 상세</a></li>
			</ul>
			
			<!-- <article id="mypagecon">
				<h2>좋아요한 게시물 목록</h2>
			</article> -->
			
			
				<h2 id="mypagetitle">좋아요한 게시물 목록</h2>
				<div id="right">
				<div class="box2"><a href="#"></a>
					<div class="picture"><a href="#"></a></div>
					<div class="place"><a href="#">장소명</a></div>
					<div class="address"><a href="#">주소</a></div>
				</div>
				<div class="box2"><a href="#"></a>
					<div class="picture"><a href="#"></a></div>
					<div class="place"><a href="#">장소명</a></div>
					<div class="address"><a href="#">주소</a></div>
				</div>
				<div class="box2"><a href="#"></a>
					<div class="picture"><a href="#"></a></div>
					<div class="place"><a href="#">장소명</a></div>
					<div class="address"><a href="#">주소</a></div>
				</div>
				</div>		
				<div>
					<a href="#"><img src="/image/left-arrow.png" id="left-arrow"></a>
					<a href="#"><img src="/image/right-arrow.png" id="right-arrow"></a>
				</div>
				
		</section>	
    <footer>
    	<div id="footer"></div>
	</footer>
    </div>
</div>
</body>
</html>