<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" href="/css/join.css">
<script>
window.addEventListener('DOMContentLoaded', (event) => {   
    var joinButton = document.getElementById("joinButton");
    joinButton.addEventListener('click', checkValidation);
	
	
	function checkValidation() {
		var joinForm = document.getElementById("joinForm");
		var passwordFlg = passwordCheckIn();
		var nameFlg = nameCheckIn();
		var idFlg = idCheckIn();
		var name = document.getElementById("nickname");
		if (!passwordFlg || !nameFlg || !idFlg) {
			return;
		}
		alert(name.value +  "님을 환영입니다. 메인페이지로 이동합니다.");
		joinForm.submit();
	}
	
	function idCheckIn() {
		var memberId = document.getElementById("memberId");
		var memberIdValidation = document.getElementById("memberIdValidation");
		var idChecking = /^[\w]{4,}@[\w]+(\.[\w]+){1,3}$/;
		if (memberId.value == "") {
			memberIdValidation.textContent = "이메일를 입력하시오.";
			/*alert("이메일");*/
			memberIdValidation.style.color = "red";
			return false;
		} 
		
		if (!idChecking.test(memberId.value)) {
			memberIdValidation.textContent = "";
			memberIdValidation.textContent = "이메일 형식이 올바르지 않습니다.";
			memberIdValidation.style.color = "red";
			return false;
		}
		
		
		
		memberIdValidation.textContent = "";
		return true;
	}	
	
	function passwordCheckIn() {
		var password = document.getElementById("password");
		var passwordConfirm = document.getElementById("passwordConfirm");
		var pwValidation = document.getElementById("pwValidation");
		var pwConfirmValidation = document.getElementById("pwConfirmValidation");
		var pwChecking = /^[a-zA-Z0-9]{8,12}$/;
		if (password.value != passwordConfirm.value) {
			pwValidation.textContent = "비밀번호가 서로 일치하지 않습니다.";
			pwValidation.style.color = "red";
			return false;
		}
		
		if (password.value == "") {
			pwValidation.textContent = "비밀번호를 입력하시오.";
			pwValidation.style.color = "red";
			return false;
		}
		
		
		if (passwordConfirm.value == "") {
			pwConfirmValidation.textContent = "비밀번호를 입력하시오.";
			pwConfirmValidation.style.color = "red";
			return false;
		} 
		
		if (!pwChecking.test(password.velue)) {
			pwValidation.textContent = "영문·숫자 8~12자리를 입력하십시오.";
			pwValidation.style.color = "red";
			pwConfirmValidation.textContent = "";
			return false;
		}
		
		if (!pwChecking.test(passwordConfirm.value)) {
				pwValidation.textContent = "영문·숫자 8~12자리를 입력하십시오.";
				pwValidation.style.color = "red";
				pwConfirmValidation.textContent = "";
				return false;
							
		} 
		  pwValidation.textContent = "";
		  pwConfirmValidation.textContent = "";
			return true;
	}
	
	function nameCheckIn() {
		var nickname = document.getElementById("nickname");
		var nicknameValidation = document.getElementById("nicknameValidation");
		if (nickname.value == "") {
			nicknameValidation.textContent = "이름을 입력하시오.";
			nicknameValidation.style.color = "red";
			return false;
		} else {
			nicknameValidation.textContent = "";	
			return true;
		}
	}
});
</script>
</head>
<body>
 <span th:onclick="|location.href='/'|"><img id="joinImgMain" src="..\image\ppusan2.png"></span>
	<form id="joinForm" th:action="@{/member/join}" method="post">
	<br>
	<div id="joinImg"><img id="joinImg" src="..\image\ppusan_Join&login_log.png"/></div>
    	<br>
    	<div class="joinForm">
			<br>
			<h2 id="logintag">회원가입 입력 부분</h2>
		<table class="joinWindow">
			<tr id="member">
				<td id="memberid"><label for="id">ID</label></td>
				<td><input type="text" name="memberId" id="memberId"></td>
			</tr>
			<tr><td></td><td>&nbsp;<span id="memberIdValidation"></span><td></tr>
			<tr>
				<td id="memberpw"><label for="pw">PW</label></td>
				<td><input type="password" name="password" id="password"></td>
			</tr>
			<tr><td></td><td>&nbsp;<span id="pwValidation"></span></td></tr>
			<tr>
				<td id="memberpwc"><label for="pw">Confirm PW</label></td>
				<td><input type="password" name="passwordConfirm" id="passwordConfirm"></td>
			</tr>
			<tr><td></td><td>&nbsp;<span id="pwConfirmValidation"></span></td></tr>
			<tr>
				<td id="nName"><label for="name">NAME</label></td>
				<td><input type="text" name="nickname" id="nickname"></td>
			</tr>
			<tr><td></td><td>&nbsp;<span id="nicknameValidation"></span></td></tr>
		</table>
		<div>
			<input type="button" id="joinButton" value="가입">
					<input type="reset" id="return" value="초기화">
		</div>
		<div id="copyright">
					<h6>2022<br>
							Busan ABC Master_03_03</h6>
				</div>
		<br>
		</div>
	</form>
</body>
</html>