<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PPUSAN</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:inline="javascript">  
	$(function() {
		$("#header").load("/html/header.html");
		$("#footer").load("/html/footer.html");

		getSpotlight();
		
	});

	function getSpotlight(){
		let page = [[${page}]];
		if(page < 1){
			page = 1;
		}
		$.ajax({
			url:"/board/getSpotlight",
			data: {"page" : page},
			success: function(result, success, xhr){
				showSpotlight(result);
			}
		});
	};
	
	function showSpotlight(data){
		$("#showSpotlight").text("");
		let str = "";
		$(data).each(function(idx,obj){
			str += "<div class='mainbox'>";
			str += "   <div class='mainpicture'>";
			if(obj.image==null){
				str += "<img src='https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg' height='150px'>";
			}else{
				str += "<img src= '" + obj.image + "'>";
			}
			str += "   </div>";
			str += "   <div class='place'><span>"+ obj.title +"</span></div>";
			str += "   <div class='address'><span>"+ obj.addr +"</span></div>";
			str += "	<div class='like'>";
			if(obj.checkLike=='F'){
				str += "<img id='unheart' src='/image/unheart.png'>";
			}else if(obj.checkLike=='T'){
				str += "<img id='heart' src='/image/heart.png'>";
			}
			str += obj.likeCount + "</div>";
			str += "</div>"
		});
		$("#showSpotlight").append(str);
	};
	
	
</script> 
</head>
<body>
  <div id="wrap">
  	<div id="header"></div>
    <div id="content">
		<section>
			<article>
		    	<img src="image/mainpage.png" width="100%">
				<button class="aboutPpusan" type="submit" th:onclick="location.href='/detail'">>find out more!</button>
				<p><br>
			</article>
			<article id="content2">
				<h3 id="spotlight">Spotlight</h3>
				<div id="showSpotlight"></div>	
				<div id="like">		
				</div> 	
				<div>
					<a th:href="|/?page=${page-1}|"><img src="image/left-arrow.png" id="left-arrow"></a>
					<a th:href="|/?page=${page+1}|"><img src="image/right-arrow.png" id="right-arrow"></a>
				</div>
			</article>
			<article id="content3">
				<div class="suggestBox">
					<h2>Suggest</h2>  
					<p>5일 간의 날씨 정보와 그 날에 맞는 옷을 추천해 드립니다.</p>
					<p><a href="/forecast"> -> find out more</a></p>
				</div>
			</article>
		</section>	
    <footer>
    	<div id="footer"></div>
	</footer>
    </div>
</div>
</body>
</html>