<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PPUSAN</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div class="container">
	<header>
    	<h1>[ Main  ]</h1>
    </header>
		<div>
      	<nav class="dropmenu">
	   		<ul>
	   			<li><a href="#" id="current">관광지</a>
		   			<ul>
			   			<li><a href="#">전체</a></li>
			   			<li><a href="#">기장군</a></li>
			   			<li><a href="#">동구</a></li>
			   			<li><a href="#">중구</a></li>
			   			<li><a href="#">부산진구</a></li>
			   			<li><a href="#">해운대구</a></li>
			   			<li><a href="#">etc.</a></li>
		   			</ul>
		   		</li>
	   			<li><a href="#" id="current">레포츠</a>
	   				<ul>
			   			<li><a href="#">전체</a></li>
			   			<li><a href="#">기장군</a></li>
			   			<li><a href="#">동구</a></li>
			   			<li><a href="#">중구</a></li>
			   			<li><a href="#">부산진구</a></li>
			   			<li><a href="#">해운대구</a></li>
			   			<li><a href="#">etc.</a></li>
		   			</ul>
		   		</li>
	   			<li><a href="#" id="current">맛집</a>
	   				<ul>
			   			<li><a href="#">전체</a></li>
			   			<li><a href="#">기장군</a></li>
			   			<li><a href="#">동구</a></li>
			   			<li><a href="#">중구</a></li>
			   			<li><a href="#">부산진구</a></li>
			   			<li><a href="#">해운대구</a></li>
			   			<li><a href="#">etc.</a></li>
		   			</ul>
		   		</li>
	   			<li><a href="#" id="current">숙박</a>
	   				<ul>
			   			<li><a href="#">전체</a></li>
			   			<li><a href="#">기장군</a></li>
			   			<li><a href="#">동구</a></li>
			   			<li><a href="#">중구</a></li>
			   			<li><a href="#">부산진구</a></li>
			   			<li><a href="#">해운대구</a></li>
			   			<li><a href="#">etc.</a></li>
		   			</ul>
		   		</li>
	   			<li><a href="#" id="current">about부산</a>
 			</ul>
  		</nav>
  		</div>
  		<nav>eeeeee</nav>
		<section class="content">
			<button ></button>
			<article>
					<h3></h3>
					<p> <br>
			</article>
		</section>	
	<footer>
		<p>Copyright ⓒ. 2022. tabitatsuzo</p>
		<p>All rights reserved.</p>      
	</footer>
</div>
</body>
</html>